// Section Styles
@use "sections/header";
@use "sections/hero";
@use "sections/services";
@use "sections/about";
@use "sections/choose";
@use "sections/cta";
@use "sections/footer";
@use "sections/banner";
@use "sections/form";

:root {
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --sans: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sans);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: calc(4 / 16 * 1rem);
  display: block;
}

.cs-title {
  font-family: var(--montserrat);
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: calc(700 / 16 * 1rem);
  margin: 0 0 calc(16 / 16 * 1rem) 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: calc(650 / 16 * 1rem);
  margin: 0;
  color: var(--bodyTextColor);
}

.cs-button-solid {
  font-size: calc(16 / 16 * 1rem);
  font-weight: 700;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-align: center;
  text-decoration: none;
  min-width: calc(200 / 16 * 1rem);
  margin: 0;

  padding: 0 calc(24 / 16 * 1rem);
  background-color: var(--primary);
  color: var(--bodyTextColorWhite);
  border-radius: calc(4 / 16 * 1rem);
  display: inline-block;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: calc(4 / 16 * 1rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}
