/*-- -------------------------- -->
<---       About Us             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #about {
    padding: var(--sectionPadding);
    overflow: hidden;

    .container {
      width: 100%;
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: clamp(3rem, 4vw, 4rem);
    }

    .content {
      text-align: left;
      width: 100%;
      max-width: calc(542 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 10;
    }

    .cs-text {
      margin-bottom: calc(16 / 16) * 1rem;
      &:last-of-type {
        margin-bottom: calc(32 / 16) * 1rem;
      }
    }

    .image-group {
      width: 100%;
      max-width: calc(670 / 16 * 1rem);
      height: 100vw;
      max-height: calc(630 / 16 * 1rem);
      position: relative;
      display: block;
      z-index: 1;
    }

    .picture {
      /* big background image */
      width: 93%;
      height: 93%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #about {
    .container {
      max-width: calc(1280 / 16 * 1rem);
      /* set to horizontal arrangement */
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .content {
      width: 48%;
      padding: calc(48 / 16 * 1rem) 0;
      align-self: center;
      flex: none;
    }

    .image-group {
      width: 55%;
      max-width: calc(670 / 16 * 1rem);
      min-height: calc(670 / 16 * 1rem);
      max-height: 100%;
      height: auto;
      margin: 0;
    }

    .picture {
      width: 93%;
      height: 94%;
    }
  }
}
